*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
PIC24F Blinker.X/html/
PIC24F Blinker.X/nbproject/private/
PIC24F Blinker.X/nbproject/Package-*.bash
PIC24F Blinker.X/build/
PIC24F Blinker.X/nbbuild/
PIC24F Blinker.X/dist/
PIC24F Blinker.X/nbdist/
PIC24F Blinker.X/nbactions.xml
PIC24F Blinker.X/nb-configuration.xml
PIC24F Blinker.X/funclist
PIC24F Blinker.X/nbproject/Makefile-*
PIC24F Blinker.X/disassembly/
*.map
